In [3]:
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from dotenv import load_dotenv
load_dotenv()
password:str=os.getenv('PASSWORD')
db_id: str=os.getenv('DBID')
engine= create_engine('sqlite:///Database/test.db',)
engine = create_engine("{dialect}://{username}.{db_id}:{password}@{host}:{port}/{database}".format(
                        dialect="postgresql",
                        username="postgres",
                        db_id=db_id,
                        password=password,
                        host="aws-0-eu-central-1.pooler.supabase.com",
                        port=5432,
                        database="postgres"
                        ))
engine

Engine(postgresql://postgres.wygtrvyhskycjzanekgb:***@aws-0-eu-central-1.pooler.supabase.com:5432/postgres)

In [5]:
conn=engine.connect()

In [11]:
pd.read_sql_query(text("SELECT*FROM my_table"),conn)

   id   nome cognome  eta
0   1  Mario   Rossi   25

In [8]:
df= pd.DataFrame({
    'nome':['Mario'],
    'cognome':['Rossi'],
    'eta':[25]
})

In [9]:
df.to_sql("my_table",conn,if_exists="append",index=False)

1

In [12]:
conn.commit()

In [13]:
pd.read_sql_query(text("SELECT*FROM my_table"),conn)

   id   nome cognome  eta
0   1  Mario   Rossi   25

In [ ]:
password:str=os.getenv('PASSWORD')
db_id: str=os.getenv('DBID')
engine= create_engine('sqlite:///Database/test.db',)
engine = create_engine("{dialect}://{username}.{db_id}:{password}@{host}:{port}/{database}".format(
                        dialect="postgresql",
                        username="postgres",
                        db_id=db_id,
                        password=password,
                        host="aws-0-eu-central-1.pooler.supabase.com",
                        port=5432,
                        database="postgres"
                        ))
engine
conn=engine.connect()
pd.read_sql_query(text("SELECT*FROM my_table"),conn)
df.to_sql("my_table",conn,if_exists="append",index=False)
conn.commit()